button,
.btn {
	color: @dark-color;
	background: @light-dark-color;
	padding: 6px 15px;

	&:active {
		background: @light-dark-color;
	}
	&:focus {
		outline: 0 none;
	}

	&-primary {
		color: @light-color;
		background: @main-color;

		&:active {
			background: @main-color-dark;
		}
	}
	&-danger {
		color: @light-color;
		background: @danger-color;

		&:active {
			background: @danger-active-color;
		}
	}
}

a {
	color: @main-color-dark;

	&.close {
		color: @dark-color;
	}
}
.nav-tabs>li, .nav-pills>li {
	color: @main-color-dark;
}
.nav-pills>.active>a, .nav-pills>.active>a:hover,
.nav-list>.active>a, .nav-list>.active>a:hover {
	background: @main-color;
	color: @light-color;
}
