.footer {
	font-size: 14px;

	ul {
		li {
			display: inline-block;
			margin-left: 0;
			font-size: 85%;
			width: auto;

			a {
				display: inline-block;
				width: 20px;
				color: #555;
				height: 20px;
				overflow: hidden;
				margin: 0;
				font-size: 18px;
				padding: 0;

				&:hover {
					color: white;
					text-decoration: none;
				}
			}
		}
	}
}
