a {
	color: @main-color-dark;

	&:focus {
		background: transparent;
	}
	&.active {
		background: @main-color;
		color: @main-color-text;
	}
}
li.active {
	a {
		background: @main-color;
		color: @main-color-text;
	}
}
