#navbar {
	height: 70px;
	background-color: @main-color;
	border: 0 none !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	.navbar-inner {
		background: transparent !important;
		border: 0 none !important;
		padding: 0;
		margin: 0;
	}

	.container {
		height: 66px;
		border:0 none;
	}
	.nav {
		position: relative;
		z-index: 23;
	}

	#youcanhazlogin {
		margin: 0;

		#login_dropdown_loggedout {
			border-top: 1px solid @dropdown-divider-color;
			margin-top: 5px;
		}
	}


	.dropdown {
		margin: 0;
		z-index: 2;

		.dropdown-menu {

			.dropdown-menu {
				position: static;
				z-index: 0;
				margin: 0;
				float: none;
				border: 0 none;
				padding: 0;
			}

			&:after,
			&:before {
				right: 6vw;
				top: -10px;
				border-left-width: 10px;
				border-right-width: 10px;
				border-bottom-width: 10px;
			}

			&:after {
				border-bottom-color: @main-color !important;
			}

			.btn {
				background: @main-color-dark;

				&:active {
					background: @main-color-darker;
				}
			}

			a.dropdown-toggle {
				&:after {
					content: "\f0d7";
					font: normal normal normal 14px/1 FontAwesome;
					position: absolute;
					right: 20px;
					margin: 5px;
				}
				&:before {
					content: "\f023";
				}
			}
		}
	}

	#all_touchui_settings.open {
		.dropdown-menu {
			.open {
				a.dropdown-toggle {
					&:after {
						content: "\f0d8";
					}
				}
			}
		}
	}

	.dropdown,
	.dropdown-menu {

		.divider {
			background: @dropdown-divider-color;
		}

		li {

			&.offline {
				a:before {
					color: @offline-color;
				}
			}
			&.online {
				a:before {
					color: @online-color;
				}
			}

			a {
				.box-sizing(border-box);

				color: @light-color;
				display: block;
				text-align: left;
				width: 100% !important;
				max-width: 100% !important;
				height: auto !important;
				padding: 10px 20px !important;
				float: none;

				.icon-wrench{
					display: none;
				}

				&:before {
					font: normal normal normal 14px/1 FontAwesome;
					content: "";
					display: inline-block;
					margin: 0 15px 0 0;
					font-size: 20px;
					position: relative;
					width: 30px;
					top: 2px;
					text-align: center;
				}

			}

			&#conn_link2 {
				a:before {
					content: "\f1eb";
				}
			}
			&#timelapse_link2 {
				a:before {
					content: "\f03e";
				}
			}
			&#gcode_link2 {
				a:before {
					content: "\f248";
				}
			}
			&#navbar_settings {
				a:before {
					content: "\f013";
				}
			}
			#usersettings_button {
				&:before {
					content: "\f007";
				}
			}
			#logout_button {
				&:before {
					content: "\f08b";
				}
			}
			#navbar_touchui_settings {
				&:before {
					content: "\f10b";
					font-size: 28px;
					line-height: 28px;
					position: relative;
					top: 5px;
					margin-top: -9px;
				}
			}

		}
	}

	#navbar_plugin_touchui {
		float: none;
	}

	#navbar_systemmenu {
		> a {
			position: relative;
			display: block;
			float: none;

			&.active {
				&:after {
					content: "\f0d8";
				}
			}

			&:before {
				content: "\f085";
			}
			i {
				display: none;
			}
			&:after {
				content: "\f0d7";
				font-family: Fontawesome;
				right: 18px;
				position: absolute;
				top: 9px;
			}
		}
		.dropdown-menu {
			a {
				&:before {
					content: "\f101";
				}
			}
		}
	}

	#all_touchui_settings {
		&.offline:after {
			color: @light-color;
			animation-name: blink_offline;
		}
		&.online:after {
			color: @light-color;
			animation-name: blink_online;
		}
		&:after {
			animation-duration: 0.6s;
			animation-iteration-count: 5;
			content: "\f0c9";
		}
		> .dropdown-menu {
			min-width: 253px;
			margin-top: 12px;
		}
	}

	@keyframes blink_offline {
		0% {
			color: @light-color;
		}
		50% {
			color: @offline-color;
		}
		100% {
			color: @light-color;
		}
	}

	@keyframes blink_online {
		0% {
			color: @light-color;
		}
		50% {
			color: @online-color;
		}
		100% {
			color: @light-color;
		}
	}

}

#tabs {

	#temp_link {
		&:after {
			content: "\f0e4";
		}
	}
	#control_link {
		&:after {
			content: "\f11b";
		}
	}
	#gcode_link {
		&:after {
			content: "\f248";
		}
	}
	#term_link {
		&:after {
			content: "\f120";
		}
	}
	#webcam_link {
		&:after {
			content: "\f030";
			font-size: 26px;
			line-height: 38px;
		}
	}
	#print_link {
		&:after {
			content: "\f233";
		}
	}

}
