.tabbable > .nav-tabs li,
#navbar .nav li {
	overflow: hidden;
	position: relative;

	.font-icon-reset(FontAwesome);
	color: white;

	&:after {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 0;
		width: 100%;
		text-align: center;
		font-size: 32px;
		vertical-align: middle;
		display: block;
		margin-top: -16px;
	}
	a {
		width: 100px;
		width: 18vw;
		max-width: 100px;
		height: 50px;
		background: transparent;
		text-indent: -5000px;
		position: relative;
		z-index: 2;
		min-width: 37px;
		padding: 10px 0;
	}

}
#tabs,
#navbar {
	&.items-5 {
		.nav,
		&.nav {
			li {
				a {
					width: 16vw;
				}
			}
		}
	}
}
#tabs {

	// Pevent FOUT! (not dutch error!)
	&:first-child {
		&:before {
			font-family: "touchui";
			content: "";
			position: absolute;
			top: -5000px;
		}
	}

	&.nav-tabs {

		.active {
			background: @dark-color;

			a {
				.border-radius(0);
			}

			/* Show a hidden tab background */
			&.hidden_touch {
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				text-indent: -4000px;

				* {
					visibility: hidden;
				}
			}
		}
	}
}
