.tabbable > .nav-tabs li,
#navbar .nav > li {
	overflow: hidden;
	position: relative;

	width: 18%;
	max-width: 100px;

	.font-icon-reset(FontAwesome);
	color: contrast(@main-color);

	&:after {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 0;
		width: 100%;
		text-align: center;
		font-size: 32px;
		vertical-align: middle;
		display: block;
		margin-top: -16px;
	}
	a {
		height: 50px;
		background: transparent;
		text-indent: -5000px;
		position: relative;
		z-index: 2;
		min-width: 37px;
		padding: 10px 0;
	}

}
#navbar .nav > li {
	width: 100%;
	float: right;
}
#tabs {
	&.items-5 {
		.nav,
		&.nav {
			li {
				width: 16%;
			}
		}
	}
}
#navbar {
	&.items-5 {
		.navbar-inner > .container > .nav-collapse > .nav {
			width: 16%;
		}
	}
}
#tabs {

	// Pevent FOUT! (not dutch error!)
	&:first-child {
		&:before {
			font-family: "touchui";
			content: "";
			position: absolute;
			top: -5000px;
		}
	}

	&.nav-tabs {
		.active {
			background: @main-background;
			color: contrast(@main-background);

			a {
				.border-radius(0);
			}
		}
	}
}
