@main-color: #00B0FF;
@main-color-dark: #009CE2;
@main-color-darker: #006D9E;

@dark-color: black;
@dark-90-color: #313131;
@dark-80-color: #4E4E4E;

@light-50-color: #555;
@light-60-color: #777;
@light-70-color: #888;
@light-80-color: #CCC;
@light-90-color: #F3F3F3;
@light-color: white;

@online-color: #9AFD00;
@offline-color: red;

@swipe-list-background-color: #920000;

@danger-color: #D40000;
@danger-active-color: #9E0000;

@terminal-color: #0F0;
