@fontawesome-path: "/plugin/touchui/static/fonts/fontawesome/";
@sourcecodepro-path: "/plugin/touchui/static/fonts/sourcecodepro/";

@main-color: #00B0FF;
@main-color-dark: #009CE2;
@main-color-darker: #006D9E;

@dark-color: black;
@dark-light-color: #313131;
@dark-lighter-color: #4E4E4E;

@neutral-color: #555;

@light-color: white;
@light-dark-color: #F3F3F3;
@light-darker-color: #CCC;
@light-darker-dark-color: #888;
@light-darker-darker-color: #777;

@online-color: #9AFD00;
@offline-color: red;

@swipe-list-background-color: #920000;

@danger-color: #D40000;
@danger-active-color: #9E0000;

@terminal-color: #0F0;
