#tabs,
#navbar #all_touchui_settings {
	a:before {
		.font-icon-reset();
	}

	#navbar_plugin_pi_support {
		a:before {
			content: none;
		}
		span {
			margin-left: 5px;
		}
	}

	#temp_link,
	#temp_link2 {
		a:before {
			content: @fa-legacy-var-thermometer-2;
		}
	}
	#control_link,
	#control_link2 {
		a:before {
			content: @fa-legacy-var-gamepad;
		}
	}
	#gcode_link,
	#gcode_link2 {
		a:before {
			content: @fa-legacy-var-object-ungroup;
		}
	}
	#term_link,
	#term_link2 {
		a:before {
			content: @fa-legacy-var-terminal;
		}
	}
	#timelapse_link,
	#timelapse_link2 {
		a:before {
			content: @fa-legacy-var-camera;
		}
	}
	#webcam_link,
	#webcam_link2 {
		a:before {
			content: @fa-legacy-var-image;
		}
	}
	#print_link,
	#print_link2 {
		a:before {
			content: @fa-legacy-var-server;
		}
	}

	// Plugins

	#sidebar_plugin_filamentmanager_wrapper_link,
	#sidebar_plugin_filamentmanager_wrapper_link2 {
		a:before {
			content: @fa-legacy-var-tasks;
		}
	}

	#sidebar_plugin_estop_wrapper_link,
	#sidebar_plugin_estop_wrapper_link2 {
		a:before {
			content: @fa-legacy-var-exclamation-circle;
		}
	}

	#sidebar_plugin_bedlevelingwizard_wrapper_link,
	#sidebar_plugin_bedlevelingwizard_wrapper_link2 {
		a:before {
			content: @fa-legacy-var-arrows-alt;
		}
	}

	#sidebar_plugin_touchtest_wrapper_link,
	#sidebar_plugin_touchtest_wrapper_link2 {
		a:before {
			content: @fa-legacy-var-edit;
		}
	}

	#tab_plugin_enclosure_link,
	#tab_plugin_enclosure_link2 {
		a:before {
			content: @fa-legacy-var-cube;
		}
	}

	#tab_plugin_astroprint_link,
	#tab_plugin_astroprint_link2 {
		a:before {
			content: @fa-legacy-var-cloud;
		}
	}

	#navbar_plugin_discordremote,
	#navbar_plugin_discordremote2 {
		a:before {
			content: @fa-legacy-var-gamepad;
		}
	}

	#tab_plugin_dashboard_link,
	#tab_plugin_dashboard_link2 {
		a:before {
			content: @fa-legacy-var-tachometer;
		}
	}

	#tab_plugin_bedlevelvisualizer_link,
	#tab_plugin_bedlevelvisualizer_link2 {
		a:before {
			content: @fa-legacy-var-street-view;
		}
	}

	#tab_plugin_stlviewer_link,
	#tab_plugin_stlviewer_link2 {
		a:before {
			content: @fa-legacy-var-street-view;
		}
	}

	#sidebar_plugin_automaticshutdown_wrapper_link,
	#sidebar_plugin_automaticshutdown_wrapper_link2 {
		a:before {
			content: @fa-legacy-var-power-off;
		}
	}
}

#tabs {
	#webcam_link {
		.rem(font-size, 29);
		.rem(line-height, 73);
	}

	#print_link {
		.rem(line-height, 74);
	}

	// Pevent FOUT! (not dutch error!)
	&:first-child {
		&:before {
			font-family: "touchui";
			content: "";
			position: absolute;
			top: -5000px;
		}
	}

	&.nav-tabs {
		.itemActive {
			background: @main-background;

			a {
				.border-radius(0);
				color: @main-background;

				&:after,
				&:before {
					color: contrast(@main-background);
				}
			}
		}
	}
}
