@import "_variables.less";

@import "fonts/materialicons.less";
@import "fonts/roboto.less";
@import "fonts/touchui.less";

@import "settings/touchui.less";
@import "components/tinycolorpicker.less";

#touch {
	width: 100%;
	min-height: 100%;
	background: @main-background;
	font-size: 15px;

	@import "components/emulate.touch.less";
	@import "components/scrollbars.less";
	@import "layout/touchscreen.less";

	body {
		width: 100%;
		min-height: 100%;
		background: @main-background;
		color: @text-color;
		position: relative;

		// *:not([class^="icon-"]) {
		// 	font-family: 'Roboto', monospace;
		// 	box-shadow: none !important;
		// 	text-shadow: none !important;
		// 	box-sizing: border-box;
		// }

		@import "layout/header.less";
		@import "layout/general.less";
		@import "layout/links.less";
		@import "layout/buttons.less";
		@import "layout/navbar.less";
		@import "layout/tabbar.less";
		@import "layout/typograph.less";
		@import "layout/icons.less";

		@import "tabs/webcam.less";
		@import "tabs/files.less";
		@import "tabs/terminal.less";
		@import "tabs/temperature.less";
		@import "tabs/controls.less";
		@import "tabs/gcode.less";
		@import "tabs/connection.less";
		@import "tabs/timelapse.less";
		@import "tabs/dashboard.less";

		@import "components/progress.less";
		@import "components/overlays.less";
		@import "components/files.less";
		@import "components/keyboard.less";
		@import "components/modal.less";
		@import "components/notifications.less";
		@import "components/pagination.less";

		@import "../vendors/OctoPrint-TouchUI/material/dropdown/dropdown.less";
		@import "../vendors/OctoPrint-TouchUI/material/slider/slider.less";
		@import "../vendors/OctoPrint-TouchUI/material/circle/circle.less";

		@import "plugins/navbartemp.less";
		@import "plugins/history.less";
		@import "plugins/printerstatistics.less";

		@import "../vendors/OctoPrint-TouchUI/material/ripple/ripple.less";
		@import "../vendors/OctoPrint-TouchUI/material/form/form.less";

		@import "layout/footer.less";
	}
}
