.pagination {
	color: transparent;

	ul {
		> li {

			&.disabled {
				> a {
					background: transparent;
					color: #BFBFBF;
				}
			}
			> a {
				padding: 10px 15px;
				font-size: 21px;
				background: #00B0FF;
				color: white;
			}

		}
	}
}
