#term {
	position: relative;

	.icon-caret-down:before,
	.icon-caret-right:before {
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: "\f078";
	}
	.icon-caret-right:before {
		content: "\f054";
	}
	span.muted {
		color: rgba(0, 255, 0, 0.5);
	}

	.row-fluid {
		clear: both;
		padding-top: 5px;
	}

	.iScrollIndicator {
		background: rgba(0, 255, 80, 0.7) !important;
		border: 0 none !important;
	}

	a {
		color: @terminal-color;
	}

	button {
		background: @terminal-color;
		color: @dark-color;

		&:active {
			background: transparent;
			color: @terminal-color;
		}
	}

	.terminal {

		small {
			&.pull-left {
				margin-right: 30px;

				span {
					display: block !important;
					padding: 10px 0 0 0 !important;
				}
			}
			&.pull-right {
				position: absolute;
				right: 0;
			}

			button {
				padding: 3px 10px;
				background: transparent;
				color: @terminal-color;

				+ span {
					padding-left: 7px;
				}
				&.active {
					background: @terminal-color;
					color: @dark-color;
				}
			}
		}
		a {
			font-size: 35px;

			i:before {
				font-family: FontAwesome;
			}
		}

		button {
			padding: 4px 12px;
			background: @light-color;
			color: @dark-color;

			&.active {
				background: @terminal-color;
			}
		}
	}
	#termin-filterpanel {
		width: 100%;
	}
	#terminal-scroll {
		border: 1px solid @terminal-color;
		overflow: hidden;
		border-radius: 5px 5px 0 0;
		height: 69vh;
		min-height: 150px;
		margin-bottom: 28px;
		background-color: transparent;
	}
	#terminal-output {
		margin-bottom: 26px;
		border: 0 none;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		margin: 0;
		background-color: transparent;
		height: auto;
		min-height: 0;
		max-height: none;
		overflow: hidden;
		color: @terminal-color;

		&:before {
			content: "╔╦╗┌─┐┬    ┬┌─┐┬    ┬╦    ╦╦\A     ║    │    ││    ││        ├─┤║    ║║\A     ╩    └─┘└─┘└─┘┴    ┴╚═╝╩";
			display: block;
			width: 360px;
			margin: 5px auto 30px;
			position: relative;
			line-height: 17px;
			font-size: 18px;
			text-align: center;
			font-family: FontAwesome;

		}
		&:after {
			content: "v?.?.?";
			display: block;
			position: absolute;
			left: 0;
			top: 70px;
			line-height: 17px;
			font-size: 14px;
			width: 100%;
			text-align: center;
		}

		@media (max-width: 500px) {
			&:before {
				margin-top: 10px;
				line-height: 14px;
				font-size: 14px;
				width: 280px;
			}
			&:after {
				top: 65px;
			}
		}
		@media (max-width: 400px) {
			&:before {
				font-size: 11px;
				line-height: 11px;
				width: 210px;
			}
			&:after {
				top: 56px;
			}
		}
		@media (max-width: 300px) {
			&:before {
				font-size: 8px;
				line-height: 8px;
				width: 153px;
			}
			&:after {
				top: 47px;
			}
		}
	}
	#terminal-sendpanel {
		position: absolute;
		left: -1px;
		width: 100%;
		margin: 0;
		top: 69vh;

		.muted {
			display: none;
		}
		input {
			width: 100%;
			box-sizing: border-box;
			background-color: @dark-color;
			color: @terminal-color;
			border: 1px solid @terminal-color;
			padding: 14px;
			border-radius: 0 0 5px 5px;
		}
		button {
			margin-left: -61px;
			width: 60px;
			background-color: @dark-color;
			color: white;
			text-shadow: 0 0 0 transparent;
			border: 0 none;
			border-left: 1px solid @terminal-color;
			border-radius: 0 0 5px 0;
			margin-top: 1px;
			z-index: 21;
			position: relative;
			color: @terminal-color;
			padding: 4px 12px;
		}
	}
}
