<a id="navbar_touchui_settings" class="pull-right" href="#touchui_settings_dialog" data-bind="click: bindings.show, visible: settings.hasVisibleSettings() || isActive()" style="display: none;">
	<i class="icon-wrench"></i><span data-bind="visible: isActive">{{ _('TouchUI settings') }}</span>
</a>
