<form class="form-horizontal">
	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.hasVisibleSettings"> Display 'TouchUI settings' when the touch interface is inactive.
			</label>
		</div>
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.automaticallyLoad"> Load TouchUI automatically based on resolution or touch device. <br><span class="muted">(Resolution: anything smaller then 980)</span>
			</label>
		</div>
	</div>
</form>
