<a id="navbar_touchui_settings" class="pull-right" href="#touchui_settings_dialog" data-bind="click: show, visible: settings.hasVisibleSettings() || isUIActive" style="display: none;">
	<i class="icon-wrench"></i> {{ _('TouchUI settings') }}
</a>
