<h4>TouchUI</h4>

<div class="alert alert-info">
	<strong>Settings are stored in your "User Settings"</strong>
	<p>All settings regarding the TouchUI interface are stored on your device, if you login into OctoPrint with another device then it shouldn't affect this device. Therefor it makes more sense to store your settings under "User settings" since "Settings" have more global impact.</p>
</div>
<a href="#" class="btn btn-primary" data-bind="click: function() { showUserSettings() }">Open the user settings</a>
