#files .entry,
#temp .row-fluid {
	touch-action: pan-y;
}

#files.condensed {
	#files-inner {
		.gcode_files {
			.entry {

				&.open.large {
					left: -190px;
				}

				.uploaded, .size {
					height: 0;
				}

				div.action-buttons {
					.btn {
						i {
							transform: scale(0.8) !important;
						}

						&:first-child {
							right: 62px;
							left: auto;
						}
						&:last-child {
							left: auto;
							right: 20px;
						}
						&.toggleAdditionalData + :nth-child(2) {
							margin-left: ~"calc(@{main-gutter} + 44px)";
						}
						&:nth-child(4) {
							margin-left: ~"calc(@{main-gutter} + 90px)";
						}
					}
				}
			}
		}
	}
}

#files_wrapper {
	border: 0 none;

	.accordion-heading {

		.icon-wrench,
		.icon-refresh,
		.icon-sd-black-14 {
			background: transparent;
			width: 100%;
			height: 100%;

			&:before {
				content: "";
			}
		}
		.switch-view a:hover {
			text-decoration: none;
		}
	}

	#files-inner {
		margin: -@main-gutter -@main-gutter 0;

		#gcode_upload_progress + div .muted {
			display: none;
		}

		.form-search {
			display: none;
		}

		.slimScrollDiv {
			margin: 0 -@main-gutter 10px;
			height: auto !important;
			clear: both;
		}

		.text-right.muted {
			text-align: center;
		}

		.gcode_files {
			height: auto !important;
			margin: 0 0 10px;
			padding: 0;
			background: @swipe-list-background-open-color;

			.entry {
				background-color: @swipe-list-background-color;
				color: contrast(@swipe-list-background-color);
				border-top: 1px solid @main-background;

				padding: 15px ~"calc(@{main-gutter} + 90px)" 15px @main-gutter;
				position: relative;
				left: 0;
				clear: both;
				cursor: w-resize;

				font-size: 1rem;
				line-height: 1.4rem;

				transition: translate3d(0, 0, 0);

				&.animate {
					will-change: transform;
					transition: transform 0.3s ease-out;
				}

				z-index: 2;

				box-shadow: 5px 0 4px rgba(0, 0, 0, 0.08) !important;

				&.open {
					left: -100px;

					&.large {
						left: -210px;
					}
				}

				div,
				div span {
					color: inherit;
				}

				div:not(.title) {
					transition: color 0.7s ease;
					will-change: color;
					color: fade(contrast(@swipe-list-background-color), 70%);
				}

				div.uploaded, div.size {
					transition: height .3s ease, color .7s ease;
					will-change: height, color;
					overflow: hidden;
					height: 1.4rem;
				}

				.btn {
					i {
						transition: transform .3s ease;
						will-change: transform;
						transform: scale(1);
					}
				}

				&.back, &.folder {
					cursor: pointer;

					.title {
						color: contrast(@swipe-list-background-color);
					}
				}

				.additionalInfo {
					padding: 0;
				}

				div.action-buttons {
					position: static;
					right: auto;
					bottom: auto;
					display: inline;

					i {
						font-size: 32px;
						line-height: 40px;
					}

					.btn.disabled, .btn[disabled] {
						opacity: 0.2;
					}

					.btn {
						display: flex;
						align-items: center;
						justify-content: center;

						height: 100%;
						max-height: 90px;
						width: 50px;

						padding: 0 5px;
						position: absolute;
						left: 100%;
					    margin-left: @main-gutter;
						top: 0;
						border-radius: 0;
						background: transparent !important;
						z-index: 5;
						border: 0 none;
						box-shadow: 0 0 0 transparent;
						text-shadow: 0 0 0 transparent;

						color: contrast(@swipe-list-background-color);
						transition: left 0.4s ease, right 0.4s ease, background 0.7s ease, color 0.7s ease;
						will-change: left, right, background, color;

						i {
							&.icon-folder-open {
								&:before {
									top: -5px;
									position: relative;
								}
								&:after {
									position: absolute;
									left: 50%;
									top: 50%;
									font-weight: bold;
									margin-top: -0.5rem;
									margin-left: -1rem;
									text-shadow: -4px -2px 0px @main-color-darker, 4px -2px 0 @main-color-darker;
								}
							}
						}

						&:first-child {
							right: 72px;
							left: auto;
						}
						&:last-child {
							left: auto;
							right: 20px;
						}
						&.toggleAdditionalData + :nth-child(2) {
							margin-left: ~"calc(@{main-gutter} + 54px)";
							margin-top: 2px;
						}
						&:nth-child(4) {
							margin-left: ~"calc(@{main-gutter} + 110px)";
							margin-top: 2px;
						}
					}
					.btn:nth-child(2),
					a.btn + .btn:nth-child(3),
					.btn:nth-child(4) {
						:after,
						:before {
							color: contrast(@swipe-list-background-open-color);
						}
					}

				}
			}
		}
	}
}
